@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@400;500;600;700&family=Poppins:ital,wght@0,500;0,600;0,700;1,500&family=Roboto&display=swap");
*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.m-auto {
  margin: auto;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 1vmin;
}

.m-2 {
  margin: 2vmin;
}

.m-3 {
  margin: 3vmin;
}

.mt-auto {
  margin-top: auto;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 1vmin;
}

.mt-2 {
  margin-top: 2vmin;
}

.mt-3 {
  margin-top: 3vmin;
}

.mb-auto {
  margin-bottom: auto;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 1vmin;
}

.mb-2 {
  margin-bottom: 2vmin;
}

.mb-3 {
  margin-bottom: 3vmin;
}

.ml-auto {
  margin-left: auto;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 1vmin;
}

.ml-2 {
  margin-left: 2vmin;
}

.ml-3 {
  margin-left: 3vmin;
}

.mr-auto {
  margin-right: auto;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 1vmin;
}

.mr-2 {
  margin-right: 2vmin;
}

.mr-3 {
  margin-right: 3vmin;
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.mx-1 {
  margin-left: 1vmin;
  margin-right: 1vmin;
}

.mx-2 {
  margin-left: 2vmin;
  margin-right: 2vmin;
}

.mx-3 {
  margin-left: 3vmin;
  margin-right: 3vmin;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.my-1 {
  margin-top: 1vmin;
  margin-bottom: 1vmin;
}

.my-2 {
  margin-top: 2vmin;
  margin-bottom: 2vmin;
}

.my-3 {
  margin-top: 3vmin;
  margin-bottom: 3vmin;
}

.p-auto {
  padding: auto;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 1vmin;
}

.p-2 {
  padding: 2vmin;
}

.p-3 {
  padding: 3vmin;
}

.pt-auto {
  padding-top: auto;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 1vmin;
}

.pt-2 {
  padding-top: 2vmin;
}

.pt-3 {
  padding-top: 3vmin;
}

.pb-auto {
  padding-bottom: auto;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-1 {
  padding-bottom: 1vmin;
}

.pb-2 {
  padding-bottom: 2vmin;
}

.pb-3 {
  padding-bottom: 3vmin;
}

.pl-auto {
  padding-left: auto;
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 1vmin;
}

.pl-2 {
  padding-left: 2vmin;
}

.pl-3 {
  padding-left: 3vmin;
}

.pr-auto {
  padding-right: auto;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 1vmin;
}

.pr-2 {
  padding-right: 2vmin;
}

.pr-3 {
  padding-right: 3vmin;
}

.px-auto {
  padding-left: auto;
  padding-right: auto;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.px-1 {
  padding-left: 1vmin;
  padding-right: 1vmin;
}

.px-2 {
  padding-left: 2vmin;
  padding-right: 2vmin;
}

.px-3 {
  padding-left: 3vmin;
  padding-right: 3vmin;
}

.py-auto {
  padding-top: auto;
  padding-bottom: auto;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.py-1 {
  padding-top: 1vmin;
  padding-bottom: 1vmin;
}

.py-2 {
  padding-top: 2vmin;
  padding-bottom: 2vmin;
}

.py-3 {
  padding-top: 3vmin;
  padding-bottom: 3vmin;
}

.btn {
  padding: 1vmin 0.5vmin;
  border: none;
  text-align: center;
  font-weight: 400;
  border-radius: 0.5vmin;
  border: 0.1vmin solid transparent;
  letter-spacing: 0.1vmin;
  -webkit-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  font-size: 1.5vmin;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn-main {
  background-color: #fac41c;
  border-color: #fac41c;
}

.btn-main:hover {
  background-color: #e9b30b;
}

.btn-white {
  background-color: #ffffff;
  border-color: #ffffff;
}

.btn-white:hover {
  background-color: #eeeeee;
}

.btn-blue {
  background-color: #007bff;
  border-color: #007bff;
  color: #ffffff;
}

.btn-blue:hover {
  background-color: #006aee;
}

.btn-red {
  background-color: #dc3545;
  border-color: #dc3545;
  color: #ffffff;
}

.btn-red:hover {
  background-color: #cb2434;
}

.float-start {
  float: left;
}

.float-end {
  float: right;
}

.d-none {
  display: none !important;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-inline-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-column-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.flex-grow {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.flex-grow-0 {
  -webkit-box-flex: 0 !important;
      -ms-flex-positive: 0 !important;
          flex-grow: 0 !important;
}

.gap-1 {
  gap: 1vmin;
}

.gap-2 {
  gap: 2vmin;
}

.gap-3 {
  gap: 3vmin;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-content-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-content-space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.justify-content-space-evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.justify-content-start {
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-items-start {
  -webkit-box-align: start !important;
      -ms-flex-align: start !important;
          align-items: flex-start !important;
}

.align-items-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.border-none {
  border-style: none;
}

.border {
  border: 0.1vmin solid;
}

.border-top {
  border-top: 0.1vmin solid;
}

.border-bottom {
  border-bottom: 0.1vmin solid;
}

.border-left {
  border-left: 0.1vmin solid;
}

.border-right {
  border-right: 0.1vmin solid;
}

.border-2 {
  border: 0.2vmin solid;
}

.border-top-2 {
  border-top: 0.2vmin solid;
}

.border-bottom-2 {
  border-bottom: 0.2vmin solid;
}

.border-left-2 {
  border-left: 0.2vmin solid;
}

.border-right-2 {
  border-right: 0.2vmin solid;
}

.border-main {
  border-color: #fac41c;
}

.border-white {
  border-color: #ffffff;
}

.border-gray {
  border-color: #5b5c56;
}

.border-blue {
  border-color: #007bff;
}

.border-red {
  border-color: #dc3545;
}

.border-light-green {
  border-color: #d4edda;
}

.bd-r-0p1 {
  border-radius: 0.1vmin;
}

.bd-r-1 {
  border-radius: 1vmin;
}

.bd-r-2 {
  border-radius: 2vmin;
}

.bd-r-0p5 {
  border-radius: 0.5vmin;
}

.w-25 {
  width: 25%;
}

.w-33 {
  width: 33%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-100 {
  width: 100%;
}

.h-25 {
  height: 25%;
}

.h-50 {
  height: 50%;
}

.h-75 {
  height: 75%;
}

.h-100 {
  height: 100%;
}

.bg-main {
  background-color: #fac41c;
}

.bg-white {
  background-color: #ffffff;
}

.bg-black {
  background-color: #000000;
}

.bg-gray {
  background-color: #5b5c56;
}

.bg-whitish-gray {
  background-color: #e8e7e7;
}

.bg-blue {
  background-color: #007bff;
}

.bg-red {
  background-color: #dc3545;
}

.bg-lighter-red {
  background-color: #f8d7da;
}

.bg-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.bg-lighter-green {
  background-color: #d4edda;
}

.color-main {
  color: #fac41c;
}

.color-black {
  color: #000000;
}

.color-white {
  color: #ffffff;
}

.color-gray {
  color: #5b5c56;
}

.color-whitish-gray {
  color: #e8e7e7;
}

.color-blue {
  color: #007bff;
}

.color-red {
  color: #dc3545;
}

.color-darker-green {
  color: #155724;
}

.text-center {
  text-align: center;
}

.text-start {
  text-align: start;
}

.text-uppercase {
  text-transform: uppercase;
}

.pos-absolute {
  position: absolute;
}

.pos-relative {
  position: relative;
}

.pos-fixed {
  position: fixed;
}

.top-0 {
  top: 0;
}

.bottom-0 {
  bottom: 0;
}

.left-0 {
  left: 0;
}

.right-0 {
  right: 0;
}

.z-index-0 {
  z-index: 0;
}

.z-index-1 {
  z-index: 1;
}

.z-overlay {
  z-index: 999;
}

.z-clickable {
  z-index: 1000;
}

.v-hidden {
  visibility: hidden;
}

.v-visible {
  visibility: visible;
}

.opacity-0 {
  opacity: 0;
}

.opacity-1 {
  opacity: 1;
}

.font-size-1p5 {
  font-size: 1.5vmin;
}

.font-size-1 {
  font-size: 1vmin;
}

.font-size-2 {
  font-size: 2vmin;
}

.fw-700 {
  font-weight: 700;
}

.fw-600 {
  font-weight: 600;
}

.fw-500 {
  font-weight: 500;
}

.fw-400 {
  font-weight: 400;
}

.line-height-0 {
  line-height: 0;
}

.line-height-1p5 {
  line-height: 1.5vmin;
}

.cursor-pointer {
  cursor: pointer;
}

@media (max-width: 992px) {
  .w-sm-0 {
    width: 0;
  }
  .w-sm-25 {
    width: 25%;
  }
  .w-sm-50 {
    width: 50%;
  }
  .w-sm-75 {
    width: 75%;
  }
  .w-sm-100 {
    width: 100%;
  }
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: uppercase;
  font-family: "Oxanium", cursive;
  font-size: 1.5vmin;
  color: #000000;
}

ul {
  list-style-type: none;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

p {
  margin: 0;
}

input {
  font-family: "Oxanium", cursive;
  font-weight: 400;
  padding-left: 1vmin;
  padding-right: 1vmin;
  padding-top: 0.5vmin;
  padding-bottom: 0.5vmin;
  font-size: 1.5vmin;
  border-style: none;
  border-radius: 0.5vmin 0.5vmin 0.5vmin 0.5vmin;
  line-height: 0;
  letter-spacing: 0.1vmin;
  border: 0.1vmin solid #5b5c56;
}

@media (max-width: 992px) {
  input {
    font-size: 2vmin;
  }
}

textarea {
  padding-left: 1vmin;
  padding-right: 1vmin;
  padding-top: 0.5vmin;
  padding-bottom: 0.5vmin;
  font-size: 1.5vmin;
  font-family: "Oxanium", cursive;
  font-weight: 400;
  border-radius: 0.5vmin 0.5vmin 0.5vmin 0.5vmin;
  border-style: none;
  letter-spacing: 0.1vmin;
  resize: none;
  outline: 0.1vmin solid #5b5c56;
}

.modal-add, .modal-edit {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 999;
  line-height: normal;
}

.modal-add.show, .modal-edit.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-add .modal-dialog, .modal-edit .modal-dialog {
  position: relative;
  background-color: #e8e7e7;
  z-index: 1000;
  border-radius: 0.5vmin;
  padding: 1vmin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-add .modal-dialog .modal-container, .modal-edit .modal-dialog .modal-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.modal-add .modal-dialog .modal-container .modal-head-container, .modal-edit .modal-dialog .modal-container .modal-head-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 0.1vmin solid #5b5c56;
}

.modal-add .modal-dialog .modal-container .modal-head-container h4, .modal-edit .modal-dialog .modal-container .modal-head-container h4 {
  padding-left: 1vmin;
  padding-right: 1vmin;
  padding-top: 1vmin;
  padding-bottom: 1vmin;
}

.modal-add .modal-dialog .modal-container .modal-body-container, .modal-edit .modal-dialog .modal-container .modal-body-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.modal-add .modal-dialog .modal-container .modal-body-container form .page h4, .modal-edit .modal-dialog .modal-container .modal-body-container form .page h4 {
  padding-left: 1vmin;
  padding-right: 1vmin;
  padding-top: 1vmin;
  padding-bottom: 1vmin;
  text-align: start;
}

.modal-add .modal-dialog .modal-container .modal-body-container form .page .row, .modal-edit .modal-dialog .modal-container .modal-body-container form .page .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-add .modal-dialog .modal-container .modal-body-container form .page .row .col, .modal-edit .modal-dialog .modal-container .modal-body-container form .page .row .col {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-add .modal-dialog .modal-container .modal-body-container form .page .row .col .upload-btn, .modal-edit .modal-dialog .modal-container .modal-body-container form .page .row .col .upload-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-add .modal-dialog .modal-container .modal-body-container form .page .row .col .upload-btn .fake-input, .modal-edit .modal-dialog .modal-container .modal-body-container form .page .row .col .upload-btn .fake-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1vmin;
  position: absolute;
  z-index: 1;
}

.modal-add .modal-dialog .modal-container .modal-body-container form .page .row .col .upload-btn .fake-input label, .modal-edit .modal-dialog .modal-container .modal-body-container form .page .row .col .upload-btn .fake-input label {
  cursor: pointer;
  color: #007bff;
}

.modal-add .modal-dialog .modal-container .modal-body-container form .page .row .col .upload-btn .fake-input label i, .modal-edit .modal-dialog .modal-container .modal-body-container form .page .row .col .upload-btn .fake-input label i {
  padding-left: 2vmin;
  padding-right: 2vmin;
  padding-top: 1vmin;
  padding-bottom: 1vmin;
  background-color: #ffffff;
  border-radius: 0.5vmin;
  color: #007bff;
  cursor: pointer;
}

.modal-add .modal-dialog .modal-container .modal-body-container form .page .row .col .upload-btn input, .modal-edit .modal-dialog .modal-container .modal-body-container form .page .row .col .upload-btn input {
  position: relative;
  width: 33%;
  z-index: 0;
  opacity: 0;
}

.modal-add .modal-dialog .modal-container .modal-body-container form .page .row .col label, .modal-edit .modal-dialog .modal-container .modal-body-container form .page .row .col label {
  line-height: 1.5vmin;
}

.modal-add .modal-dialog .modal-container .modal-body-container form .page .row .col input, .modal-edit .modal-dialog .modal-container .modal-body-container form .page .row .col input {
  margin-left: 1vmin;
  margin-right: 1vmin;
  margin-top: 1vmin;
  margin-bottom: 1vmin;
  line-height: 1.5vmin;
}

.modal-add .modal-dialog .modal-container .modal-body-container form .page .row .col i, .modal-edit .modal-dialog .modal-container .modal-body-container form .page .row .col i {
  padding-left: 2vmin;
  padding-right: 2vmin;
  padding-top: 1vmin;
  padding-bottom: 1vmin;
  background-color: #ffffff;
  border-radius: 0.5vmin;
  border: 0.1vmin solid #5b5c56;
  color: #007bff;
  cursor: pointer;
  margin-left: 1vmin;
  margin-right: 1vmin;
  margin-top: 1vmin;
  margin-bottom: 1vmin;
}

.modal-add .modal-dialog .modal-container .modal-body-container form .page .row .description-row, .modal-edit .modal-dialog .modal-container .modal-body-container form .page .row .description-row {
  width: 100%;
}

.modal-add .modal-dialog .modal-container .modal-body-container form .page .row .description-row textarea, .modal-edit .modal-dialog .modal-container .modal-body-container form .page .row .description-row textarea {
  width: 90%;
  margin-left: 1vmin;
  margin-right: 1vmin;
  margin-top: 1vmin;
  margin-bottom: 1vmin;
}

.modal-add .modal-dialog .modal-container .modal-body-container form .page .row:last-child:not(.footer), .modal-edit .modal-dialog .modal-container .modal-body-container form .page .row:last-child:not(.footer) {
  border-bottom: 0.1vmin solid #5b5c56;
}

.modal-add .modal-dialog .modal-container .modal-body-container form .page .row .user-col, .modal-edit .modal-dialog .modal-container .modal-body-container form .page .row .user-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 1vmin;
  padding-bottom: 1vmin;
  position: relative;
  font-size: 1.5vmin;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.modal-add .modal-dialog .modal-container .modal-body-container form .page .row .user-col input, .modal-edit .modal-dialog .modal-container .modal-body-container form .page .row .user-col input {
  margin-top: 0.5vmin;
  width: 100%;
  position: relative;
  z-index: 0;
}

@media (max-width: 992px) {
  .modal-add .modal-dialog .modal-container .modal-body-container form .page .row .user-col input[type=password], .modal-edit .modal-dialog .modal-container .modal-body-container form .page .row .user-col input[type=password] {
    font-size: 2vmin;
    letter-spacing: 0.5vmin;
  }
}

.modal-add .modal-dialog .modal-container .modal-body-container form .page .row .user-col input[type=password], .modal-edit .modal-dialog .modal-container .modal-body-container form .page .row .user-col input[type=password] {
  letter-spacing: 0.5vmin;
}

.modal-add .modal-dialog .modal-container .modal-body-container form .page .row .user-col .save-user, .modal-edit .modal-dialog .modal-container .modal-body-container form .page .row .user-col .save-user {
  width: 25%;
  color: #000000;
  -webkit-transform: skewX(0deg);
          transform: skewX(0deg);
  border: none;
  letter-spacing: 0.1vmin;
  font-family: "Oxanium", cursive;
  font-weight: 600;
  padding-left: 1vmin;
  padding-right: 1vmin;
  padding-top: 1vmin;
  padding-bottom: 1vmin;
  -webkit-clip-path: polygon(80% 0%, 100% 30%, 100% 100%, 20% 100%, 0% 70%, 0 0);
          clip-path: polygon(80% 0%, 100% 30%, 100% 100%, 20% 100%, 0% 70%, 0 0);
  background-color: #fac41c;
  cursor: pointer;
  font-size: 1.5vmin;
}

@media (max-width: 992px) {
  .modal-add .modal-dialog .modal-container .modal-body-container form .page .row .user-col .save-user, .modal-edit .modal-dialog .modal-container .modal-body-container form .page .row .user-col .save-user {
    font-size: 2vmin;
  }
}

.modal-add .modal-dialog .modal-container .modal-body-container form .page .row .user-col .eye, .modal-edit .modal-dialog .modal-container .modal-body-container form .page .row .user-col .eye {
  background-color: #ffffff;
  position: absolute;
  right: 1vmin;
  top: 50%;
  font-size: 2vmin;
  z-index: 1;
  cursor: pointer;
  line-height: 2vmin;
  padding-left: 0.1vmin;
  padding-right: 0.1vmin;
  padding-top: 0.1vmin;
  padding-bottom: 0.1vmin;
}

@media (min-width: 992px) {
  .modal-add .modal-dialog .modal-container .modal-body-container form .page .row .user-col .eye:hover, .modal-edit .modal-dialog .modal-container .modal-body-container form .page .row .user-col .eye:hover {
    background-color: #e8e7e7;
    border-radius: 50%;
    padding-left: 0.1vmin;
    padding-right: 0.1vmin;
    padding-top: 0.1vmin;
    padding-bottom: 0.1vmin;
  }
}

@media (max-width: 992px) {
  .modal-add .modal-dialog .modal-container .modal-body-container form .page .row .user-col .eye, .modal-edit .modal-dialog .modal-container .modal-body-container form .page .row .user-col .eye {
    font-size: 2.5vmin;
    line-height: 2.5vmin;
  }
}

.modal-add .modal-dialog .modal-container .modal-body-container form .page .user-row, .modal-edit .modal-dialog .modal-container .modal-body-container form .page .user-row {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 1vmin;
  padding-right: 1vmin;
}

.modal-add .modal-dialog .modal-container .modal-body-container form .page .footer:not(.user-row), .modal-edit .modal-dialog .modal-container .modal-body-container form .page .footer:not(.user-row) {
  padding-top: 1vmin;
  padding-left: 1vmin;
  padding-right: 1vmin;
}

.modal-add .modal-dialog .modal-container .modal-body-container form .page .footer:not(.user-row) button, .modal-edit .modal-dialog .modal-container .modal-body-container form .page .footer:not(.user-row) button {
  -webkit-transform: skewX(-25deg);
          transform: skewX(-25deg);
  padding-left: 1vmin;
  padding-right: 1vmin;
  padding-top: 1vmin;
  padding-bottom: 1vmin;
}

.modal-add .modal-dialog .modal-container .modal-body-container form .page .footer:not(.user-row) button span, .modal-edit .modal-dialog .modal-container .modal-body-container form .page .footer:not(.user-row) button span {
  -webkit-transform: skewX(25deg);
          transform: skewX(25deg);
  color: #000000;
}

.modal-add .modal-dialog .modal-container .modal-body-container form .page .row .col .upload_bg::after, .modal-add .modal-dialog .modal-container .modal-body-container form .page .row .col .project-name::after {
  content: '*';
  margin-left: 0.5vmin;
  margin-right: 0.5vmin;
  color: #dc3545;
  font-size: 2vmin;
}

body .main .sidebar .logo-container a {
  line-height: 0;
}

body .main .sidebar .logo-container a .logo {
  width: 10vmin;
  -webkit-box-shadow: 0 2vmin 2vmin -1.6vmin #fac41c;
          box-shadow: 0 2vmin 2vmin -1.6vmin #fac41c;
  -webkit-transition: -webkit-box-shadow 0.5s ease-out;
  transition: -webkit-box-shadow 0.5s ease-out;
  transition: box-shadow 0.5s ease-out;
  transition: box-shadow 0.5s ease-out, -webkit-box-shadow 0.5s ease-out;
}

body .main .sidebar .logo-container a .logo:hover {
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
}

body .main .sidebar .logo-container .hamburger-container {
  display: none;
}

body .main .sidebar .nav-container {
  width: 20vmin;
}

body .main .sidebar .nav-container .nav {
  position: relative;
}

body .main .sidebar .nav-container .nav .nav-item .about {
  color: #ffffff;
  cursor: pointer;
}

body .main .sidebar .nav-container .nav .nav-item .about.selected {
  background-color: #fac41c;
  color: #000000;
}

body .main .sidebar .nav-container .nav .nav-item .about.selected + .about-dropdown {
  background-color: #4a4b45;
}

body .main .sidebar .nav-container .nav .nav-item .active {
  color: #fac41c !important;
}

body .main .sidebar .nav-container .nav .nav-item .nav-link {
  display: inline-block;
  width: 100%;
  padding-left: 3vmin;
  padding-right: 3vmin;
  padding-top: 1vmin;
  padding-bottom: 1vmin;
  letter-spacing: 0.1vmin;
  font-weight: 700;
}

body .main .sidebar .nav-container .nav .nav-item .nav-link:hover {
  border-bottom: 0.1vmin solid #fac41c;
  margin-bottom: -0.1vmin;
}

body .main .sidebar .nav-container .nav .nav-item .nav-link .about-dd-icon {
  position: absolute;
  right: 0;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  padding-left: 3vmin;
  padding-right: 3vmin;
}

body .main .sidebar .nav-container .nav .nav-item .nav-link .about-dd-icon.selected {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  color: #000000;
}

body .main .sidebar .nav-container .nav .nav-item .about-dropdown {
  position: relative;
}

body .main .sidebar .nav-container .nav .nav-item .about-dropdown .about-item {
  display: none;
}

body .main .sidebar .nav-container .nav .nav-item .about-dropdown .about-item .about-link {
  display: inline-block;
  width: 100%;
  font-size: 1vmin;
  letter-spacing: 0.1vmin;
  font-weight: 700;
  padding-left: 4vmin;
  padding-right: 4vmin;
  padding-top: 1vmin;
  padding-bottom: 1vmin;
}

body .main .sidebar .nav-container .nav .nav-item .about-dropdown .about-item .about-link:hover {
  border-bottom: 0.1vmin solid #fac41c;
  margin-bottom: -0.1vmin;
}

body .main .sidebar .nav-container .nav .nav-item .about-dropdown .about-item.about-animate {
  display: inline-block;
}

body .main .sidebar .nav-container .nav .nav-item .about-dropdown .about-animate:nth-child(1) .about-link {
  -webkit-animation-name: aboutDropdown;
          animation-name: aboutDropdown;
  -webkit-animation-duration: 0.15s;
          animation-duration: 0.15s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

body .main .sidebar .nav-container .nav .nav-item .about-dropdown .about-animate:nth-child(2) .about-link {
  -webkit-animation-name: aboutDropdown;
          animation-name: aboutDropdown;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

body .main .sidebar .nav-container .nav .nav-item .about-dropdown .about-animate:nth-child(3) .about-link {
  -webkit-animation-name: aboutDropdown;
          animation-name: aboutDropdown;
  -webkit-animation-duration: 0.45s;
          animation-duration: 0.45s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

body .main .sidebar .nav-container .nav .nav-item .about-dropdown .about-animate:nth-child(4) .about-link {
  -webkit-animation-name: aboutDropdown;
          animation-name: aboutDropdown;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

body .main .sidebar .nav-container .nav .nav-item .about-dropdown .about-animate:nth-child(5) .about-link {
  -webkit-animation-name: aboutDropdown;
          animation-name: aboutDropdown;
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes aboutDropdown {
  0% {
    color: #000000;
    opacity: 0;
    position: absolute;
  }
  100% {
    opacity: 1;
    color: #ffffff;
    position: relative;
  }
}

@keyframes aboutDropdown {
  0% {
    color: #000000;
    opacity: 0;
    position: absolute;
  }
  100% {
    opacity: 1;
    color: #ffffff;
    position: relative;
  }
}

body .main .section .top-bar .search-container .search-input {
  border-radius: 0.5vmin 0.5vmin 0.5vmin 0.5vmin;
  border-style: none;
  width: 70%;
  font-size: 1.5vmin;
  font-family: "Oxanium", cursive;
  font-weight: 400;
  letter-spacing: 0.1vmin;
  padding-left: 0.5vmin;
  padding-right: 0.5vmin;
  padding-top: 1vmin;
  padding-bottom: 1vmin;
  line-height: 0;
}

body .main .section .top-bar .search-container .search-btn {
  border-radius: 0.5vmin 0.5vmin 0.5vmin 0.5vmin;
  -webkit-transition: background-color 0.15s ease, color 0.15s ease;
  transition: background-color 0.15s ease, color 0.15s ease;
  line-height: 0;
}

body .main .section .top-bar .search-container .search-btn:hover {
  background-color: #fac41c;
}

body .main .section .top-bar .search-container .search-btn:hover i {
  color: #000000;
}

body .main .section .top-bar .account-container .account-btn {
  cursor: pointer;
  position: relative;
}

body .main .section .top-bar .account-container .account-btn img {
  border-radius: 50% 50% 50% 50%;
  height: 5vmin;
  width: 5vmin;
}

body .main .section .top-bar .account-container .account-btn span {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2vmin;
  letter-spacing: 0.2vmin;
}

body .main .section .top-bar .account-container .account-btn .account-dd-icon {
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

body .main .section .top-bar .account-container .account-btn .account-dd-icon.account-dd-icon.open {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

body .main .section .top-bar .account-container .account-dd {
  position: absolute;
  border: 0.1vmin solid #5b5c56;
  right: 3vmin;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  border-radius: 0.5vmin 0.5vmin 0.5vmin 0.5vmin;
  opacity: 0;
  visibility: hidden;
}

body .main .section .top-bar .account-container .account-dd.open {
  opacity: 1;
  visibility: visible;
}

body .main .section .top-bar .account-container .account-dd .account-li {
  line-height: 0;
  border-bottom: 0.1vmin solid #5b5c56;
}

body .main .section .top-bar .account-container .account-dd .account-li:hover:first-child .account-anchor {
  border-radius: 0.5vmin 0.5vmin 0 0;
}

body .main .section .top-bar .account-container .account-dd .account-li:hover:last-child .account-anchor {
  border-radius: 0 0 0.5vmin 0.5vmin;
}

body .main .section .top-bar .account-container .account-dd .account-li:last-child {
  border-bottom: none;
}

body .main .section .top-bar .account-container .account-dd .account-li .account-anchor {
  display: inline-block;
  padding-left: 1vmin;
  padding-right: 1vmin;
  padding-top: 2vmin;
  padding-bottom: 2vmin;
  width: 100%;
  line-height: 0;
  font-family: "Oxanium", cursive;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.2vmin;
  line-height: 0;
  color: #000000;
}

body .main .section .top-bar .account-container .account-dd .account-li .account-anchor:hover {
  background-color: #e8e7e7;
}

body .main .section .content .header-container {
  letter-spacing: 0.1vmin;
}

body .main .section .content .header-container .add-project-btn, body .main .section .content .header-container .add-user-btn {
  line-height: 0;
  cursor: pointer;
  border-radius: 0.5vmin 0.5vmin 0.5vmin 0.5vmin;
  -webkit-box-shadow: 0.1vmin 0.1vmin 1vmin #fac41c;
          box-shadow: 0.1vmin 0.1vmin 1vmin #fac41c;
}

body .main .section .content .header-container .add-project-btn::before, body .main .section .content .header-container .add-user-btn::before {
  font: var(--fa-font-solid);
  content: "\f055";
  margin-right: 0.5vmin;
}

body .main .section .content .header-container .add-project-btn.clicked, body .main .section .content .header-container .add-user-btn.clicked {
  -webkit-box-shadow: 0 0 0;
          box-shadow: 0 0 0;
}

body .main .section .content .header-container .header-name {
  font-size: 3vmin;
}

body .main .section .content .table-container table {
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 1vmin;
  font-size: 1.5vmin;
}

body .main .section .content .table-container table thead tr th {
  padding-left: 1vmin;
  padding-right: 1vmin;
  padding-top: 1vmin;
  padding-bottom: 1vmin;
}

body .main .section .content .table-container table thead tr th:first-child {
  border-top-left-radius: 1vmin;
}

body .main .section .content .table-container table thead tr th:last-child {
  border-top-right-radius: 1vmin;
}

body .main .section .content .table-container table tbody tr td {
  padding-left: 1vmin;
  padding-right: 1vmin;
  padding-top: 1vmin;
  padding-bottom: 1vmin;
  text-align: center;
  word-break: word;
  border-left: 0.1vmin solid #5b5c56;
  border-bottom: 0.1vmin solid #5b5c56;
}

body .main .section .content .table-container table tbody tr td:last-child {
  line-height: 0;
  border-right: 0.1vmin solid #5b5c56;
  width: 12vmin;
}

body .main .section .content .table-container table tbody tr td:last-child a i {
  cursor: pointer;
  font-size: 1.5vmin;
  padding-left: 1vmin;
  padding-right: 1vmin;
  padding-top: 1vmin;
  padding-bottom: 1vmin;
  border-radius: 0.5vmin 0.5vmin 0.5vmin 0.5vmin;
  -webkit-box-shadow: 0.1vmin 0.1vmin 1vmin #5b5c56;
          box-shadow: 0.1vmin 0.1vmin 1vmin #5b5c56;
  color: #ffffff;
}

body .main .section .content .table-container table tbody tr td:last-child a .edit {
  margin-right: 0.5vmin;
}

body .main .section .content .table-container table tbody tr td:last-child a .edit:hover {
  background-color: #006aee;
}

body .main .section .content .table-container table tbody tr td:last-child a .edit.clicked {
  -webkit-box-shadow: 0 0 0;
          box-shadow: 0 0 0;
}

body .main .section .content .table-container table tbody tr td:last-child a .delete {
  margin-left: 0.5vmin;
}

body .main .section .content .table-container table tbody tr td:last-child a .delete:hover {
  background-color: #cb2434;
}

body .main .section .content .table-container table tbody tr td:last-child a .delete.clicked {
  -webkit-box-shadow: 0 0 0;
          box-shadow: 0 0 0;
}

body .main .section .content .table-container table tbody tr td img {
  height: 15vmin;
  width: 25vmin;
}

body .main .section .content .table-container table tbody tr td:nth-child(2) {
  line-height: 0;
}

body .main .section .content .table-container table tbody tr td:nth-child(5) {
  line-height: 2.5vmin;
}

body .main .section .content .table-container table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 1vmin;
}

body .main .section .content .table-container table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 1vmin;
}

body .footer {
  color: #ffffff;
  letter-spacing: 0.1vmin;
}

body .footer .footer-divider {
  height: 2vmin;
  background-image: -webkit-gradient(linear, left top, right top, from(#fac41c), to(#f5841e));
  background-image: linear-gradient(to right, #fac41c, #f5841e);
  border: none;
}

@media (max-width: 992px) {
  body {
    font-size: 2vmin;
  }
  body .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .main .sidebar {
    gap: 0;
  }
  body .main .sidebar .logo-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 3vmin;
    margin-right: 3vmin;
  }
  body .main .sidebar .logo-container .hamburger-container {
    background: transparent;
    width: 8vmin;
    height: 7vmin;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: -0.1vmin;
    border-radius: 1vmin 1vmin 1vmin 1vmin;
    position: relative;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .main .sidebar .logo-container .hamburger-container.open {
    z-index: 1000;
  }
  body .main .sidebar .logo-container .hamburger-container .hamburger-lines {
    background-color: #ffffff;
    height: 0.1vmin;
    width: 60%;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
  }
  body .main .sidebar .logo-container .hamburger-container .hamburger-1.hamburger-open {
    position: absolute;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    background-color: #fac41c;
  }
  body .main .sidebar .logo-container .hamburger-container .hamburger-2.hamburger-open {
    width: 0;
    background-color: #fac41c;
  }
  body .main .sidebar .logo-container .hamburger-container .hamburger-3.hamburger-open {
    position: absolute;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    background-color: #fac41c;
  }
  body .main .sidebar .logo-container .hamburger-container.hamburger-open {
    border-color: #fac41c;
  }
  body .main .sidebar .nav-container {
    width: 100%;
    padding-left: 6vmin;
    padding-right: 6vmin;
  }
  body .main .sidebar .nav-container .nav {
    gap: 3vmin;
    position: relative;
    width: 100%;
  }
  body .main .sidebar .nav-container .nav .nav-item {
    display: none;
  }
  body .main .sidebar .nav-container .nav .nav-item .nav-link {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-top: 1vmin;
    padding-bottom: 1vmin;
    font-size: 2vmin;
    letter-spacing: 0.1vmin;
    font-weight: 700;
  }
  body .main .sidebar .nav-container .nav .nav-item .nav-link:hover {
    border-bottom: 0.1vmin solid #fac41c;
    margin-bottom: -0.1vmin;
  }
  body .main .sidebar .nav-container .nav .nav-item .about-dropdown .about-item .about-link {
    text-align: center;
    font-size: 1.5vmin;
    padding-top: 1vmin;
    padding-bottom: 1vmin;
  }
  body .main .sidebar .nav-container .nav .nav-item.nav-show {
    display: list-item;
  }
  body .main .sidebar .nav-container .nav .nav-show:nth-child(1) .nav-link {
    -webkit-animation-name: dropdown;
            animation-name: dropdown;
    -webkit-animation-duration: 0.15s;
            animation-duration: 0.15s;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  body .main .sidebar .nav-container .nav .nav-show:nth-child(2) .nav-link {
    -webkit-animation-name: dropdown;
            animation-name: dropdown;
    -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  body .main .sidebar .nav-container .nav .nav-show:nth-child(3) .nav-link {
    -webkit-animation-name: dropdown;
            animation-name: dropdown;
    -webkit-animation-duration: 0.45s;
            animation-duration: 0.45s;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  body .main .sidebar .nav-container .nav .nav-show:nth-child(4) .nav-link {
    -webkit-animation-name: dropdown;
            animation-name: dropdown;
    -webkit-animation-duration: 0.6s;
            animation-duration: 0.6s;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  body .main .sidebar .nav-container .nav .nav-show:nth-child(5) .nav-link {
    -webkit-animation-name: dropdown;
            animation-name: dropdown;
    -webkit-animation-duration: 0.75s;
            animation-duration: 0.75s;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  body .main .sidebar .nav-container .nav .nav-show:nth-child(6) .nav-link {
    -webkit-animation-name: dropdown;
            animation-name: dropdown;
    -webkit-animation-duration: 0.9s;
            animation-duration: 0.9s;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  body .main .sidebar .nav-container .nav .nav-item:nth-child(6) {
    padding-bottom: 3vmin;
  }
  @-webkit-keyframes dropdown {
    0% {
      opacity: 0;
      position: absolute;
    }
    100% {
      opacity: 1;
      position: relative;
    }
  }
  @keyframes dropdown {
    0% {
      opacity: 0;
      position: absolute;
    }
    100% {
      opacity: 1;
      position: relative;
    }
  }
  body .main .section .top-bar .search-container .search-input {
    font-size: 2vmin;
  }
  body .main .section .top-bar .search-container a {
    font-size: 2vmin;
  }
  body .main .section .top-bar .account-container .account-btn {
    font-size: 2vmin;
  }
  body .main .section .content .header-container .header-name {
    font-size: 4vmin;
  }
  body .main .section .content .header-container .add-project-btn {
    font-size: 2vmin;
  }
  body .main .section .content .table-container table {
    font-size: 2vmin;
  }
  .footer {
    font-size: 2vmin;
  }
  .modal .modal-dialog .modal-container .modal-body-container form .page .row .col input {
    font-size: 2vmin;
  }
}
/*# sourceMappingURL=admin-style.css.map */